package web

templ Base() {
	<!DOCTYPE html>
	<html class="h-full bg-gray-100" lang="en">
		<head>
			<meta name="viewport" content="width=device-width, initial-scale=1" charset="utf-8"/>
			<title>Go Blueprint Hello</title>
			<link rel="stylesheet" href="/css/output.css"/>
			<script src="/js/htmx.min.js"></script>
		</head>
		<body class="h-full">
			{ children... }
		</body>
	</html>
}
